body {
    margin: 0;
}

/* Header */
.header {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

#header-image {
    width: 100%;
    position: relative;
    bottom: 300px;
}

/* cover of image background */
#cover {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    /* opacity: 0.5; ligthness of cover*/
    opacity: 0.5;
}

/* menu-header */
#menu-header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0%;
    direction: rtl;
}

#menu {
    margin-right: 10px;
    margin-top: 20px;
}

#menu > .btn {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: background 0.3s;
}

#menu > .btn:hover {
    background-color: rgba(88, 88, 88, 0.5);
}
.active {
    background-color: #087A79;
}

/* main content */
#main-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
}

#img-frame {
    width: 200px; /* Represents the desired diameter of the image */
    height: 200px; /* Represents the desired diameter of the image */
    padding: 10px; /* Important for the spacing between the image and the border */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #087A79;
    border-radius: 50%; /* To make the container circular */
    overflow: hidden; /* To prevent parts of the image from appearing outside the circular container */
    margin: 0 auto;
    box-shadow: 0px 9px 8px #c7c7c7;
    transition: box-shadow 0.2s, padding 0.4s;
}

#img-frame:hover {
    box-shadow: 0px 9px 8px #959595;
    padding: 15px;
}

#img-frame > img {
    width: 100%; /* Sets the image width to 100% to fill the container completely */
    height: auto; /* Allows the height to adjust automatically with the width */
    border-radius: 50%; /* To make the image circular as well */
}
#center-content {
    text-align: center;
    color: white;
    font-size: 30px;
}
